<div>
    <h3>Test Header</h3>
    <fieldset>
        <button class="btn btn-primary" ng-click="currentUser()">Get Current User</button>
        <div id="curr_user_display" ng-show="contact.current_policy_num">
            <h2>I have policy data from auth!</h2>
            <fieldset>
                <label for="pol_num">Policy Number</label>:
                <span id="pol_num"  name="pol_num">{{contact.current_policy_num}}</span>
            </fieldset>
            <fieldset>
                <label for="pol_email">Email</label>:
                <span id="pol_email" name="pol_email">{{contact.email}}</span>
            </fieldset>
            <fieldset>
                <label for="pol_curr_name">Current Policy Name</label>:
                <span id="pol_curr_name" name="pol_curr_name">{{contact.current_policy_name}}</span>
            </fieldset>

        </div>
    </fieldset>







</div>
