<!--<div class="jumbotron">-->
    <!--<h1>Welcome to Site 1!</h1>-->
    <!--<p class="lead">Welcome to site 1 we'll pass info to a differnent web app :) </p>-->

    <!--<p>Here you can find out about event's, projects that are being worked on, birthday's and parties that-->
        <!--are happening <strong>OR</strong> create your own items you want to let others know about or keep track of.-->
    <!--</p>-->

    <!--<p>More to come!</p>-->

    <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>-->
<!--</div>-->

<div class="row">
    <div class="medium-7 large-6 columns">
        <h1>Welcome to our home web site!</h1>
    </div>
</div>
<div class="row">
    <div class="medium-7 large-6 columns">
        <input type="text" ng-model="datepick" datepicker="" format="mm-dd-yyyy" id="datepick">
    </div>
</div>
