
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">GetMoney.com</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class=""><a href="#">Link</a</li>
            <li class=""><a href="#">Link</a</li>
            <li class=""><a href="#">Link</a</li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">

        </ul>
    </section>
</nav>

<div class="bg-skew-main">

    <div class="content">
        <header class="intro">
            <h1>any product can be <span>improved</span</h1>
            <p class="subheader">Introducing the revolutionary new widget thing that does stuff you can't think of yourself. Confused? So are we!</p>
        </header>

        <div class="row">
            <h2>What is it, you do here?</h2>
            <div class="medium-4 columns">
                <h3>WORDS & PHRASES</h3>
                <p>“If you know the enemy and know yourself, you need not fear the result of a hundred battles. If you know yourself but not the enemy, for every victory gained you will also suffer a defeat. If you know neither the enemy nor yourself, you will succumb in every battle.”</p>
                <p>
                    ― Sun Tzu, The Art of War</p>
            </div>
            <div class="medium-4 columns">
                <h3>WORDS & PHRASES</h3>
                <p>“All warfare is based on deception. Hence, when we are able to attack, we must seem unable; when using our forces, we must appear inactive; when we are near, we must make the enemy believe we are far away; when far away, we must make him believe we are near.”</p>
                <p>
                    ― Sun Tzu, The Art of War</p>
            </div>
            <div class="medium-4 columns">
                <h3>WORDS & PHRASES</h3>
                <p>“Engage people with what they expect; it is what they are able to discern and confirms their projections. It settles them into predictable patterns of response, occupying their minds while you wait for the extraordinary moment — that which they cannot anticipate.”</p>
                <p>
                    ― Sun Tzu, The Art of War</p>
            </div>
        </div>
    </div>

</div>

<div class="bg-skew-contact">
    <div class="content">
        <form class="contact">
            <h2>Tell us stuff</h2>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <input type="text" placeholder="Name" />
                    </label>
                    <label>
                        <input type="email" placeholder="Email Address" />
                    </label>
                    <label>
                        <textarea placeholder="Got something to say?"></textarea>
                    </label>
                    <a href="#" class="button success">Send it!</a>
                </div>
            </div>
        </form>
        <footer class="row">
            <div class="small-12 columns">
                <ul class="inline-list social">
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">InstaG</a></li>
                </ul>
                <p>Copywrite - there is none - 2015</p>
            </div>
        </footer>
    </div>
</div>
